# Prioritize Python files
*.py linguist-detectable=true

# Ignore HTML and report folders
*.html linguist-vendored
reports/* linguist-vendored
output/* linguist-vendored
playwright-report/* linguist-vendored
